# Apple Code Signing (macOS)
APPLE_SIGNING_IDENTITY=
APPLE_TEAM_ID=
APPLE_ID=
APPLE_PASSWORD=
APPLE_CERTIFICATE_PASSWORD=
APPLE_CERTIFICATE=

# Zotero OAuth (https://www.zotero.org/oauth/apps)
ZOTERO_CONSUMER_KEY=
ZOTERO_CONSUMER_SECRET=
